---
title: Hello world
layout: landing
---


  <section id="landing-hero">
    {% include header.html %}
    <div class="container">
      <h1>I'm Akshar Patel, lead product designer at p0. <span class="subtext">Previously led design teams at Multiplier and Gojek.</span></h1>
      <h4>Passionately dedicated to building high-performance lean design teams and fostering a culture anchored in strong principles. Over the past decade, I've specialized in creating impactful products with a decisive bias toward action and measurable outcomes.</h4>
    </div>
    <canvas id="gradient-canvas" data-transition-in />

  </section>
  <section id="portfolio">
    <h6>PAST WORK</h6>
    <div class="container">
      {% for post in site.posts limit:4 %}
        {% include articleListItem.html %}
      {% endfor %}
    </div>
    <h6 class="mt-80 mb-24">MUCH OLDER WORK</h6>
    <div class="blog-grid">
      {% for post in site.posts offset:4 %}
        {% include blogGridItem.html %}
      {% endfor %}
    </div>
  </section>

  
