---
title: Hello world
layout: landing
---

<section id="hero">
  <div class="container">
    <h1>I'm Akshar Patel, a product designer currently working at Wingify in Pune, India.</h1>
    <!-- <div class="actions">
      <a href="/about.html" class="btn-outline">About me</a>
      <a href="mailto:akshar.patel.art@gmail.com" class="btn-outline">Contact me</a>
    </div> -->
  </div>
</section>
<section id="portfolio">
  <div class="container">
    {% for post in site.posts %}
      {% include articleListItem.html %}
    {% endfor %}
  </div>
</section>