---
title: Hello world
layout: landing
---

<section id="hero">
  <div class="container">
    <h1>I'm Akshar Patel, a product designer currently working at Wingify in Pune, India.</h1>
    <!-- <div class="actions">
      <a href="/about.html" class="btn-outline">About me</a>
      <a href="mailto:akshar.patel.art@gmail.com" class="btn-outline">Contact me</a>
    </div> -->
  </div>
</section>
<section id="portfolio">
  <div class="container">
    {% for post in site.posts %}
      {% include articleListItem.html %}
    {% endfor %}
  </div>
</section>
<section id="about">
  <div class="container">
    <h4>Hello 👋 I've created design impact at Helpshift, Vikilabs and Coditas. I've worked on scaled products on various platforms, Android, iOS, macOS and Web. From working with scaled teams to working with founders at B2B SaaS & B2C Home automation. My journey has been nothing but an adventure with pixels and emotions and users at the center.
    <br><br>
    When I am not designing, I am painting acrylic landscapes on tiny canvases. To check out my original artwork head to my <a href="https://www.instagram.com/this.is.akshar/" target="_blank">Instagram</a>. If it isn't an art day for me, I am trying to get better at competitive video games (PUBG and DoTA 2).
    <br>
    <br>Almost forgot! Feel free to <a href="mailto:akshar.patel.art@gmail.com">email me</a>.</h4>
  </div>
</section>