<div class="portfolio-item">

  {% if post.projecttype == "mobile" %}
    <div class="media-container">
      <img autoplay loop muted playsinline src="{{ post.projectimage }}" class="mobile-cover"></img>
    </div>
  {% endif %}
  {% if post.projecttype == "desktop" %}
    <div class="media-container">
      <img src="{{ post.projectimage }}" alt="{{ post.title }}" class="desktop-cover">
    </div>
  {% endif %}
  
  <div class="p-content">
    <p class="subtitle"> {{ post.brand }} </p>
    <h3>{{ post.title }}</h3>
    <p> {{post.description}} </p>
    <a class="btn-primary" href={{ post.url }}> Read case study</a>
  </div>
</div>