<header>
  {% if page.url == "/" %}

    <div class="brand inverted">
      <h5>Akshar Patel</h5>
    </div>
    <div class="center-nav-items inverted">
      <a href="../assets/landing/Akshar Patel - Resume - Lead Product Designer.pdf" class="nav-item" target="_blank"><img class="icon" src="../assets/icons/download-outline.svg" alt=""> Resume</a>
    </div>

  {% elsif page.url == "/about.html" %}

    <div class="brand">
      <h5>Akshar Patel</h5>
    </div>
    <div class="center-nav-items">
      <a href="../" class="nav-item ">Work</a>
      <a href="/process.html" class="nav-item">Resume</a>

    </div>
      
  {% else %}

    <a href="/" class="btn-default">Back to home</a>

  {% endif %}
</header>