body {
  // background-color: white;
}

header {
  display: flex;
  width: 100%;
  max-width: 960px;
  justify-content: space-between;
  margin: 0 auto;
}

#hero {

  padding: 8rem 0;

  .small-container, .container {
    // text-align: center;
    width: 100%;
    max-width: 960px;

    
    h4 {
      color: $secondary;
      margin: 1rem 0 0 0;
    }
  }
}

// Beacon styling
.beacon {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: red;
  z-index: 9;
}

//Video styling
video {
  max-width: 1180px;
  margin: 0 auto;
  border-radius: 8px;
  width: 100%;
}

// Content section
section#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .image-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    p, b {
      line-height: 1.5em;
      text-align: center;
      color: $secondary;
    }

    img {
      max-width: 1180px;
      border-radius: 8px;
    }
  }

  // Content
  p {
    margin: 0;
    max-width: 640px;
    b {
      margin: 0 0 0.75rem 0;
      font-weight: 600;
      color: $black;
    }
  }
  h3 {
    margin: 3.5rem 0 0.75rem 0;
  }

  // UX Problems
  .lists {
    .list-item {
      margin: 0 0 1.5rem 0;
      p {
        color: $secondary;
      }
    }
    .list-item>p {
      margin: 0 0 0.5rem 0;
    }
  }

  // Lists for persona
  .process-step {
    margin: 0 0 3.5rem 0;
    ul li,
    ol li {
      font-size: 1em;
      margin: 0 0 0.75rem 0;
      max-width: 600px;
      line-height: 1.5;
    }
  }
}

//Short hands for articles
.mb-24 {
  margin-bottom: 24px;
}