#hero {
  .container {
    h3 {
      font-family: 'Fira sans';
      font-weight: normal;
      margin: 12px 0 0 0;
    }
  }
}

// Beacon styling
.beacon {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: red;
  z-index: 9;
}

// Content section
section#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .image-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    p, b {
      font-size: 0.9em;
      line-height: 1.5em;
      text-align: center;
    }
  }

  // Content
  p {
    margin: 0;
    max-width: 640px;
    b {
      margin: 0 0 12px 0;
      font-weight: 600;
      color: $black;
    }
  }
  h3 {
    margin: 56px 0 12px 0;
  }

  // UX Problems
  .lists {
    .list-item {
      margin: 0 0 24px 0;
      p {
        font-size: 16px;
        color: $secondary;
      }
    }
    .list-item>p {
      margin: 0 0 8px 0;
    }
  }

  // Lists for persona
  .process-step {
    margin: 0 0 56px 0;
    ul li,
    ol li {
      font-size: 1.2em;
      margin: 0 0 12px 0;
      max-width: 600px;
      line-height: 1.5;
    }
  }
}