// Colors
$black-darker: #12151a;
$black: #27303e;
$secondary: #67717f;
$background: #f6f7f8;
$background-gradient: -webkit-linear-gradient(top, #E5E5E4 0%, #e8e8e8 32%, #efefef 40%, #ffffff 100%);
$accent: #1147fa;
$background-gradient-reversed: -webkit-linear-gradient(bottom, #E5E5E4 0%, #e8e8e8 32%, #efefef 40%, #ffffff 100%);
$separator: #e5e5e5;
$separator-dark: #c5c5c5;