// Colors
$black-darker: oklch(0.208 0.042 265.755);
$black: oklch(0.279 0.041 260.031);
$secondary: #7B8881;
$background: #fafafa;
$background-gradient: -webkit-linear-gradient(top, #E5E5E4 0%, #e8e8e8 32%, #efefef 40%, #ffffff 100%);
$accent: #174D32;
$accent-dark: #0B3C23;
$link: #1565C0;
$background-gradient-reversed: -webkit-linear-gradient(bottom, #E5E5E4 0%, #e8e8e8 32%, #efefef 40%, #ffffff 100%);
$separator: #DCFAEB;
$separator-dark: #B2F3D3;