// Colors
$black-darker: #0d1014;
$black: #2f3947;
$secondary: #555f6d;
$background: #f6f7f8;
$background-gradient: -webkit-linear-gradient(top, #E5E5E4 0%, #e8e8e8 32%, #efefef 40%, #ffffff 100%);
$accent: #455A64;
$accent-dark: #37474F;
$link: #1565C0;
$background-gradient-reversed: -webkit-linear-gradient(bottom, #E5E5E4 0%, #e8e8e8 32%, #efefef 40%, #ffffff 100%);
$separator: #e5e5e5;
$separator-dark: #c5c5c5;