
html {
  font-family: $sans;
  background: $background-gradient;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

// Header
header {
  padding: 2.5rem 0;
}

.text-secondary {
  color: $secondary;
  font-weight: 500;
}

// Margins
.mb-56 {
  margin-bottom: 3.5rem !important;
}

.mb-40 {
  margin-bottom: 2.5rem !important;
}

.mb-24 {
  margin-bottom: 1.5rem !important;
}

.mt-56 {
  margin-top: 3.5rem !important;
}

.mt-16 {
  margin-top: 1rem !important;
}

.mt-24 {
  margin-top: 1.5rem !important;
}

.mt-40 {
  margin-top: 2.5rem;
}

.mt-80 {
  margin-top: 5rem;
}

.all-caps {
  text-transform: uppercase;
}