header {
  display: flex;
  width: 100%;
  max-width: 1140px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

header .center-nav-items {
  display: flex;
  column-gap: 0.5rem;
  justify-content: center;

  .btn-primary {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.125rem;

      .icon {
        color: white;
        width: 16px;
        height: 16px;
        margin-right: 0.25rem;
        filter: brightness(0) invert(1);
    }

    .btn-primary:hover {
      opacity: 0.8;
    }
  }
}

#brand {
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0px;
  line-height: 1.5rem;
}