header {
  display: flex;
  width: 100%;
  max-width: 1140px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

header .center-nav-items {
  display: flex;
  column-gap: 0.5rem;
  justify-content: center;

  .btn-primary {
    align-items: center;
    gap: 0.25rem;

    .icon {
      color: white;
      width: 16px;
      height: 16px;
      filter: brightness(0) invert(1);
    }

    &:hover{
      gap: 0.5rem;
    }
  }
}

#brand {
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0px;
  line-height: 1.5rem;
}