#hero {
  padding: 8em 0;
  h1 {
    margin: 0 0 12px 0;
  }
  a {
    margin: 0 24px 0 0;
  }
  .actions {
    display: flex;
    margin: 24px 0 0 0;
  }
}

// Portfolio section
.portfolio-item {
  margin: 0 0 48px 0;
  h6 {
    margin: 4px 0 0 0;
    font-weight: normal;
    color: $secondary;
  }
  .portfolio-content {
    width: 50%;
  }
  .image img {
    width: 50%;
  }
  a {
    text-decoration: underline;
  }
  a:hover {
    color: $link;
  }
}
