#hero {
  padding: 96px 0;
  h1 {
    margin: 0 0 12px 0;
  }
}

// Portfolio section
.portfolio-item {
  margin: 0 0 48px 0;
  h6 {
    margin: 4px 0 0 0;
    font-weight: normal;
    color: $secondary;
  }
  .portfolio-content {
    width: 50%;
  }
  .image img {
    width: 50%;
  }
}

#about {
  margin: 96px;
  h4 {
    margin: 0;
    max-width: 720px;
    font-size: 20px;
    line-height: 1.56;
    font-weight: 400;
    font-family: $sans;
  }
  a {
    color: $accent;
    text-decoration: underline;
  }
}