// Code for responsive

@media (min-width: 320px) and (max-width: 640px) {
  body {
    margin: 0;
  }

  #landing-hero {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1.5rem 4rem 1.5rem;

    .container {
      margin-top: 2rem;
    }

    h1 {
      font-size: 2.5rem;
    }

    h4 {
      font-size: 1rem;
    }
  }

  #portfolio {
    padding-left: 1rem;
    padding-right: 1rem;

   .portfolio-item {
    padding: 0.5rem;
    margin-top: 1.5rem;

    .p-content {
      padding: 1.5rem 1rem 1.25rem 1rem;
    }

    img.mobile-cover {
      height: auto;
      min-height: 80vw;
      max-height: 480px;
    }
   } 
  }

  .snippets {
    margin: 8rem auto 8rem auto;

    .grid-container {
      gap: 2rem;

      div {
        grid-template-columns: 1fr;
      }

      .row-1, .row-3{
        gap: 2rem;
      }
    }
  }

  .blog-grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }

  .grid-of-two {
    grid-template-columns: 1fr;
  }

  img {
    width: 100%;
  }

  //articles
  #hero, #content, footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  header .btn-outline {
    margin-left: 1rem;
  }

  footer {
    box-sizing: border-box;
  }

  .btn-outline, .btn-primary {
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 640px) and (max-width: 1180px) {
  body {
    padding: 16px 24px;
  }
  img {
    width: 100%;
  }
}