// Code for responsive

@media (min-width: 320px) and (max-width: 640px) {
  body {
    margin: 0;
  }

  #landing-hero {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1.5rem 14rem 1.5rem;

    a {
      margin: 0;
      padding: 0;
    }

    .container {
      margin-top: 8rem;
    }
  }

  #portfolio {
    padding-left: 1rem;
    padding-right: 1rem;

   .portfolio-item {
    padding: 1.5rem;
   } 
  }

  .blog-grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }

  .grid-of-two {
    grid-template-columns: 1fr;
  }

  img {
    width: 100%;
  }

  //articles
  #hero, #content, footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  header .btn-default {
    margin-left: 1rem;
  }

  footer {
    box-sizing: border-box;
  }
}

@media (min-width: 640px) and (max-width: 1180px) {
  body {
    padding: 16px 24px;
  }
  img {
    width: 100%;
  }
}