@font-face {
  font-family: 'Satoshi';
  src: url('../assets/fonts/Satoshi-Variable.woff2') format('woff2'),
  url('../assets/fonts/Satoshi-Variable.woff2') format('woff2');
  font-weight: 400, 700;
}

@font-face {
  font-family: 'General Sans';
  src: url('../assets/fonts/GeneralSans-Variable.woff2') format('woff2');
}

$sans: 'Satoshi', system-ui;
$serif: 'Satoshi', system-ui;

h1 {
  font-size: 3em;
  line-height: 1.2em;
  letter-spacing: -0.1rem;
  font-weight: 600;
  margin: 0;
  color: $black;
  font-family: $serif;
}

h2 {
  font-size: 2.4em;
  line-height: 1.2em;
  font-weight: 400;
  margin: 0;
  color: $black;
  font-weight: 700;
  line-height: 128%; /* 30.72px */
  font-family: $serif;
}

h3 {
  font-size: 1.5em;
  margin: 0;
  font-weight: 600;
  color: $black;
  line-height: 150%; /* 27px */
  font-family: $serif;
}

h4 {
  font-size: 1.125em;
  font-weight: 500;
  margin: 0;
  line-height: 150%;
  font-family: $sans;
  color: $secondary;
}

h5 {
  font-family: $sans;
  font-weight: 600;
  font-size: 1em;
  margin: 0;
}

h6 {
  font-size: 0.75;
  margin: 0;
  font-family: $sans;
  font-weight: 700;
  letter-spacing: 2px;
}

p {
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
}

a {
  color: $black;
  text-decoration: none;
}