<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="/styles/main.css" /> -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500|Vollkorn:600" rel="stylesheet">
</head>
<body>
  <section id="hero">
    <div class="container">
      <h1>I'm Akshar Patel, a product designer currently working at Wingify in Pune, India.</h1>
      <h3></h3>
    </div>
  </section>
  <section id="portfolio">
    <div class="container">
      <div class="portfolio-item">
        <h3><a href="/articles/convertfly-making-messenger-marketing-simple/">Simplifying messenger marketing for Shopify stores</a></h3>
        <h6>Convertfly</h6>
      </div>
      <div class="portfolio-item">
        <h3><a href="/articles/convertfly-making-messenger-marketing-simple/">Building a social proof platform</a></h3>
        <h6>GrowthKit</h6>
      </div>
      <div class="portfolio-item">
        <h3><a href="/articles/customerjet-a-tale-of-rapid-prototyping/">A tale of rapid prototyping</a></h3>
        <h6>CustomerJet</h6>
      </div>
      <div class="portfolio-item">
        <h3><a href="/articles/helpshift-accessibility/">Designing a system for consistency</a></h3>
        <h6>Helpshift</h6>
      </div>
      <div class="portfolio-item">
        <h3><a href="/articles/helpshift-accessibility/">Learning and educating accessibility</a></h3>
        <h6>Helpshift</h6>
      </div>
    </div>
  </section>
</body>
</html>